.mainContainer {
    background-color: white;
    min-width: 930px;
    border-radius: 10px;
    margin: auto;
    max-width: 967px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .card {
    border-bottom: 1px solid lightgray;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .imgContainer {
    width: 20%;
    margin: 15px;
  }
  .imgContainer img {
    border: 1px solid lightgray;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  .details {
    width: 100%;
  }
  .details h1 {
    font-weight: bold;
    text-transform: uppercase;
  }
  .details p {
    margin-left: 20px;
    line-height: 8px;
  }
  .searchInput {
    font-size: 18px;
    padding: 5px 10px;
    border-width: 0 0 2px 0;
    width: 96%;
    height: 30px;
    margin-left: 7px;
    border-bottom: 2px solid #e1dcdb;
  }
  .tagInput {
    font-size: 18px;
    padding: 5px 10px;
    border-width: 0 0 2px 0;
    width: 96%;
    height: 30px;
    margin-left: 7px;
    border-bottom: 2px solid #e1dcdb;
  }
  .addTagInput {
    font-size: 16px;
    border-width: 0 0 2px 0;
    height: 30px;
    margin-left: 20px;
    border-bottom: 2px solid #e1dcdb;
    margin-bottom: 10px;
  }
  .showTag {
    background-color: lightgray;
    border-radius: 2px;
    padding: 12px;
    margin: 5px;
  }
  .toggleGradesDiv {
    margin-top: 30px;
    margin-left: -20px;
  }
  .toggleGradesDiv span {
    padding-right: 16px;
  }
  .toggleGradesSign {
    font-size: 25px;
    color: gray;
    margin-top: 25px;
  }
  .toggleTagDiv {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    margin-left: 0px;
  }