body {
    font-family: 'Raleway', Courier, monospace;
}

.content {
    width: 700px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding: 20px;

}

.m-2 {
    border: 1px solid rgb(220, 213, 213);
    height: 300px;
    
}


img {
    border-radius: 50%;
    border: 1px solid rgb(180, 166, 166);
    /* padding-top: 50px; */
}

.content-text {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    max-height: 100px;


}

p {
    padding: 2px;
    margin: 0;
}

h1 {
    padding-left: 150px;
    font-size:40px;
    margin: 0;
    font-weight: 700px;

}

.pic-text {
    display: flex;
    flex-direction: row;
}

.text {
    display: flex;
    flex-direction: column;
    padding-top:15px;
    padding-left: 30px;
    font-size: 20px;
    color: rgb(200, 198, 198);
  
}

.m-2 {
    border: .5px solid rgb(220, 212, 212);
    
}